#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -Dm755 target/release/sshm debian/sshm/usr/bin/sshm

override_dh_shlibdeps:
	# skip for static Rust binary
